<div class="flex items-center justify-center  h-screen bg-gray-100">
  <div class="w-1/2">
    <div class="w-5/6 mx-auto text-center">

      <h1 class="text-2xl font-bold mb-4">Standalone Component - Page</h1>
      <hr class="my-4 border-gray-300">

      <div class="flex flex-col space-y-4">
        <p>Este componente no necesita ser importado en módulos</p>
        <p>Es porque es su propio módulo {{ 1 + 1 }}</p>

        <!-- Contador -->
        <counter-alone [counter]="7" />
      </div>

    </div>
  </div>
</div>
